* {
  	margin: 0;
	padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*:focus,
button:focus {
    outline: none;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-BlackItalic.eot');
    src: local('Formular Black Italic'), local('Formular-BlackItalic'),
        url('fonts/Formular-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-BlackItalic.woff2') format('woff2'),
        url('fonts/Formular-BlackItalic.woff') format('woff'),
        url('fonts/Formular-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-MediumItalic.eot');
    src: local('Formular Medium Italic'), local('Formular-MediumItalic'),
        url('fonts/Formular-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-MediumItalic.woff2') format('woff2'),
        url('fonts/Formular-MediumItalic.woff') format('woff'),
        url('fonts/Formular-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-Italic.eot');
    src: local('Formular Italic'), local('Formular-Italic'),
        url('fonts/Formular-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-Italic.woff2') format('woff2'),
        url('fonts/Formular-Italic.woff') format('woff'),
        url('fonts/Formular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-LightItalic.eot');
    src: local('Formular Light Italic'), local('Formular-LightItalic'),
        url('fonts/Formular-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-LightItalic.woff2') format('woff2'),
        url('fonts/Formular-LightItalic.woff') format('woff'),
        url('fonts/Formular-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-Black.eot');
    src: local('Formular Black'), local('Formular-Black'),
        url('fonts/Formular-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-Black.woff2') format('woff2'),
        url('fonts/Formular-Black.woff') format('woff'),
        url('fonts/Formular-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-Light.eot');
    src: local('Formular Light'), local('Formular-Light'),
        url('fonts/Formular-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-Light.woff2') format('woff2'),
        url('fonts/Formular-Light.woff') format('woff'),
        url('fonts/Formular-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular.eot');
    src: local('Formular'),
        url('fonts/Formular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular.woff2') format('woff2'),
        url('fonts/Formular.woff') format('woff'),
        url('fonts/Formular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-Medium.eot');
    src: local('Formular Medium'), local('Formular-Medium'),
        url('fonts/Formular-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-Medium.woff2') format('woff2'),
        url('fonts/Formular-Medium.woff') format('woff'),
        url('fonts/Formular-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-BoldItalic.eot');
    src: local('Formular Bold Italic'), local('Formular-BoldItalic'),
        url('fonts/Formular-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-BoldItalic.woff2') format('woff2'),
        url('fonts/Formular-BoldItalic.woff') format('woff'),
        url('fonts/Formular-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Formular';
    src: url('fonts/Formular-Bold.eot');
    src: local('Formular Bold'), local('Formular-Bold'),
        url('fonts/Formular-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Formular-Bold.woff2') format('woff2'),
        url('fonts/Formular-Bold.woff') format('woff'),
        url('fonts/Formular-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Bank Sans EF CY Condensed';
    src: url('fonts/BankSansEFCY-BolCon.eot');
    src: url('fonts/BankSansEFCY-BolCon.eot?#iefix') format('embedded-opentype'),
        url('fonts/BankSansEFCY-BolCon.woff2') format('woff2'),
        url('fonts/BankSansEFCY-BolCon.woff') format('woff'),
        url('fonts/BankSansEFCY-BolCon.ttf') format('truetype'),
        url('fonts/BankSansEFCY-BolCon.svg#BankSansEFCY-BolCon') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('fonts/MullerBold.eot');
    src: url('fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/MullerBold.woff2') format('woff2'),
        url('fonts/MullerBold.woff') format('woff'),
        url('fonts/MullerBold.ttf') format('truetype'),
        url('fonts/MullerBold.svg#MullerBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
body {
  	background-color: #ffffff;
	font-family: 'Formular';
	font-size: 14px;
	line-height: 1.2em;
    color: #949098;
}
p {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 2em;
	font-weight: 300;
}
p.special {
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 2em;
	color:#3E3E3E;
}
a {
	color: #2E2A32;
	text-decoration: none;
}
ul {
	margin-bottom: 20px;
}
ul li {
	list-style-position: inside;
}
a:hover,
a:focus {
	color: #2E2A32;
	text-decoration: none;	
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
	margin: 0;
	color: #2E2A32;
	font-size: 36px;
	line-height: 1.2em;
	font-weight: 900;
	text-transform: uppercase;
}
@media (max-width: 480px) {
	h1 {
		font-size: 24px;
		line-height: 1.2em;
	}
}
@media (max-width: 320px) {
	h1 {
		font-size: 18px;
		line-height: 1.2em;
	}
}
h2 {
	font-weight: bold;
    font-size: 25px;
	line-height: 1.4em;
	margin: 85px 0 0;
    color: #2E2A32;
    text-transform: uppercase;
}
@media (max-width: 480px) {
	h2 {
		font-size: 18px;
		line-height: 1.2em;
	}
}
@media (max-width: 320px) {
	h2 {
		font-size: 16px;
		line-height: 1.2em;
	}
}
h3 {
	font-weight: bold;
    font-size: 20px;
	line-height: 1.4em;
	margin: 85px 0 0;
    color: #2E2A32;
    text-transform: uppercase;
}
@media (max-width: 480px) {
	h2 {
		font-size: 16px;
		line-height: 1.2em;
	}
}
@media (max-width: 320px) {
	h2 {
		font-size: 14px;
		line-height: 1.2em;
	}
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px) {
	.width-1430 {
		max-width: 1430px;
		margin: 0 auto;
	}
}
@media (min-width: 768px) {
	.width-1400 {
		max-width: 1400px;
		margin: 0 auto;
	}
}
.btn {
	border-radius: 3px;
	padding: 12px 30px;
	border: 1px solid #00A0E3;
	background-color: #00A0E3;
	color: #ffffff;
	font-size: 15px;
	line-height: 1.2em;
	font-weight: 500;
	transition: all 0.3s;
}
@media (max-width: 991px) {
	.btn {
		padding: 10px 15px;
	}	
}
.btn:hover,
.btn:focus {
	background: #ffffff;
	color: #00A0E3;
}
table {
	margin-top: 40px;
	margin-bottom: 30px;
	width: 100%;
}
@media (max-width: 1199px) {
	table {
		display: block;
		overflow-x: auto;
	}
}
table th,
table td {
	padding: 45px 50px;
	border: 1px solid #D5D5D5;
	font-size: 16px;
	line-height: 1.6em;
}
@media (max-width: 991px) {
	table th,
	table td {
		padding: 15px;
		font-size: 14px;
		line-height: 1.2em;
	}
}
table th {
	font-weight: normal;
}
table td {
	color: #2E2A32;
}
.blue {
	color: #00A0E3;
	font-weight: 500;
}
.wrapper {
	overflow: hidden;
	padding-left: 40px;
	padding-right: 40px;
}
@media (max-width: 767px) {
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}
.col--nopadding {
	padding-left: 0;
	padding-right: 0;
}
.wrapper--header {
	background-color: transparent;
	padding-left: 55px;
	padding-right: 55px;
	overflow: visible;
}
@media (max-width: 991px) {
	.wrapper--header {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 767px) {
	.wrapper--header {
		padding-left: 0;
		padding-right: 0;
	}
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
	flex-wrap: wrap;
	justify-content: center;
}
@media (max-width: 1330px) {
    .navbar {
        padding-top: 25px;
		padding-bottom: 25px;
    }
}
@media (max-width: 991px) {
    .navbar {
        padding-top: 25px;
		padding-bottom: 25px;
    }
}
@media (max-width: 767px) {
    .navbar {
        padding-top: 10px;
		padding-bottom: 10px;
		min-height: 60px;
    }
}
.navbar-brand {
    margin: 0;
	padding: 0;
}
@media (max-width: 991px) {
	.navbar-brand {
		margin-bottom: 10px;
	}
}
@media (max-width: 767px) {
	.navbar-brand {
		margin-bottom: 0;
		position: absolute;
		left: 15px;
		top: 10px;
	}
}
.navbar-brand img {
    width: 84px;
    height: auto;
}
@media (max-width: 767px) {
	.navbar-brand img {
		max-width: 45px;
	}
}
.navbar-dark .navbar-toggler {
	border: 1px solid rgba(0, 113, 188, 1);
    padding: 0;
	right: 15px;
    top: 11px;
	position: absolute;
	z-index: 1;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
	border-radius: 50%;
	background-size: 69%;
	background-position: 50% 50%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 113, 188, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-collapse,
.navbar-expand-md .navbar-collapse {
	padding-left: 21px;
	flex-grow: 0;
	left: 0;
}
@media (max-width: 1400px) {
	.navbar-collapse,
	.navbar-expand-md .navbar-collapse {
		padding-left: 0;
	}	
}
@media (max-width: 767px) {
    .navbar-collapse,
	.navbar-expand-md .navbar-collapse {
    	position: absolute;
		top: 100%;
		z-index: 6;
		width: 100%;
		margin-top: 0;
		background-color: #ffffff;
		padding-top: 0;
		padding-bottom: 0;
		border-top: 1px solid #D8D8D8;
    }
}
@media (max-width: 1550px) {
    .navbar-nav {
    	margin-left: 0;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex: 0 0 100%;
		max-width: 100%;
    }
}
@media (max-width: 767px) {
    .navbar-nav {
        margin-top: 0;
		text-align: center;
		margin-left: 15px;
		margin-right: 15px;
		padding: 30px 0;
    }
}
.navbar-dark .navbar-nav .nav-link {
	margin: 0 30px;
	font-size: 14px;
	line-height: 1.2em;
	color: #2E2A32;
    padding: 12px 0;
	cursor: pointer;
	position: relative;
}
@media (max-width: 1550px) {
	.navbar-dark .navbar-nav .nav-link {
		margin: 0 15px;
	}
}
@media (max-width: 767px) {
	.navbar-dark .navbar-nav .nav-link {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		display: inline-block;
		vertical-align: top;
		font-size: 16px;
		line-height: 1.2em;
	}
}
.navbar-dark .navbar-nav .nav-link.have-children-level-1 {
	position: relative;
	padding-right: 20px;
}
@media (max-width: 767px) {
	.navbar-dark .navbar-nav .nav-link.have-children-level-1 {
		padding-right: 0;
	}	
}
.have-children-level-1:before {
	content: '';
	position: absolute;
	right: 0;
	top: calc(50% - 2px);
	width: 7px;
	height: 4px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(img/arrow-down-menu.svg);
	background-size: contain;
}
@media (max-width: 767px) {
	.have-children-level-1:before {
		display: none;
	}
}
.have-children-level-1:hover:before,
.have-children-level-1:focus:before,
.have-children-level-1.active:before {
	background-image: url(img/arrow-down-menu--blue.svg);
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.active {
    color: #00A0E3;
}
.navbar-dark .navbar-nav .nav-link:after {
	content: '';
	position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #00A0E3;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
@media (max-width: 767px) {
	.navbar-dark .navbar-nav .nav-link:after {
		bottom: 5px;
	}
}
.navbar-dark .navbar-nav .nav-link:hover:after,
.navbar-dark .navbar-nav .nav-link:focus:after,
.navbar-dark .navbar-nav .nav-link.active:after {
    width: 100%;
}
@media (max-width: 767px) {
	.qtip {
		display: block;
		position: static;
	}
}
.qtip-default {
    border: none;
	padding: 0;
	min-width: 0;
	max-width: 100%;
	background: transparent;
}
.qtip-front {
	z-index: 99999 !important;
}
.qtip-content {
	padding: 0;
	overflow: visible;
}
.nav-submenu-level-1 {
	display: none;
}
@media (max-width: 767px) {
	.nav-submenu-level-1 {
		display: block;
	}	
}
.nav-submenu-level-1 > ul {
	background: #ffffff;
}
.nav-submenu-level-1--type-1 > ul {
	width: 760px;
	border: 1px solid #BBBBBB;
	display: flex;
 	flex-flow: row wrap;
}
@media (max-width: 991px) {
	.nav-submenu-level-1--type-1 > ul {
		width: 600px;
	}
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-1 > ul {
		width: auto;
		display: block;
		border: none;
	}	
}
.nav-submenu-level-1--type-1 > ul > li {
	list-style-type: none;
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	position: relative;
	display: flex;
 	flex-flow: row wrap;
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-1 > ul > li {
		max-width: 100%;
		display: block;
		text-align: center;
	}	
}
.nav-submenu-level-1--type-1 > ul > li:after {
	content: '';
	position: absolute;
	right: 0;
	top: 3px;
	bottom: 3px;
	width: 1px;
	background-color: #BBBBBB;
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-1 > ul > li:after {
		display: none;
	}
}
.nav-submenu-level-1--type-1 > ul > li:last-child:after {
	display: none;
}
.nav-submenu-level-1--type-1 > ul > li > a {
	flex: 0 0 100%;
	max-width: 100%;
	display: block;
	padding: 35px 30px;
	color: #545256;
	font-size: 14px;
	line-height: 1.2em;
	position: relative;
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-1 > ul > li > a {
		padding: 12px 0;
		color: #949098;
		font-size: 14px;
		line-height: 1.2em;
		display: inline-block;
		vertical-align: top;
	}
}
.nav-submenu-level-1--type-1 > ul > li > a:hover,
.nav-submenu-level-1--type-1 > ul > li > a:focus,
.nav-submenu-level-1--type-1 > ul > li > a.active {
    color: #00A0E3;
}
.nav-submenu-level-1--type-1 > ul > li > a:before {
	content: '';
	position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #00A0E3;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;	
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-1 > ul > li > a:before {
		bottom: 5px;
	}
}
.nav-submenu-level-1--type-1 > ul > li > a:hover:before,
.nav-submenu-level-1--type-1 > ul > li > a:focus:before,
.nav-submenu-level-1--type-1 > ul > li > a.active:before {
    width: 100%;
}
.nav-submenu-level-1--type-1 > ul > li > a.have-children-level-2:after {
	content: '';
	display: block;
	height: 10px;
	width: 10px;
	opacity: 0;
	background-color: #ffffff;
	border: 2px solid #00A0E3;
	position: absolute;
	bottom: -4px;
	z-index: 99999;
	left: calc(50% - 5px);
	clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
	transform: rotate(-45deg);
	border-radius: 0 0 0 0.25em;
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-1 > ul > li > a.have-children-level-2:after {
		display: none;
	}
}
.nav-submenu-level-1--type-1 > ul > li > a.have-children-level-2:hover:after,
.nav-submenu-level-1--type-1 > ul > li > a.have-children-level-2:focus:after,
.nav-submenu-level-1--type-1 > ul > li > a.have-children-level-2.active:after {
	opacity: 1;
}
.nav-submenu-level-1--type-2 > ul {
	padding: 10px 0;
	box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.2);
	border-bottom: 3px solid #00A0E3;
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-2 > ul {
		padding: 0;
		box-shadow: none;
		border-bottom: none;
	}	
}
.nav-submenu-level-1--type-2 > ul > li {
	list-style-type: none;
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-2 > ul > li {
		text-align: center;
	}	
}
.nav-submenu-level-1--type-2 > ul > li > a {
	display: block;
	padding: 10px 30px;
	color: #545256;
	font-size: 14px;
	line-height: 1.2em;	
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-2 > ul > li > a {
		padding: 12px 0;
		color: #949098;
		font-size: 14px;
		line-height: 1.2em;
		display: inline-block;
		vertical-align: top;
		position: relative;		
	}
}
.nav-submenu-level-1--type-2 > ul > li > a:hover,
.nav-submenu-level-1--type-2 > ul > li > a:focus,
.nav-submenu-level-1--type-2 > ul > li > a.active {
	background-color: #F7F7F7;
	color: #00A0E3;
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-2 > ul > li > a:hover,
	.nav-submenu-level-1--type-2 > ul > li > a:focus,
	.nav-submenu-level-1--type-2 > ul > li > a.active {
		background-color: transparent;
	}	
}
@media (max-width: 767px) {
	.nav-submenu-level-1--type-2 > ul > li > a:before {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		height: 2px;
		width: 0;
		background-color: #00A0E3;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;	
	}
	.nav-submenu-level-1--type-2 > ul > li > a:hover:before,
	.nav-submenu-level-1--type-2 > ul > li > a:focus:before,
	.nav-submenu-level-1--type-2 > ul > li > a.active:before {
		width: 100%;
	}
}
.nav-submenu-level-2 {
	display: none;
}
@media (max-width: 767px) {
	.nav-submenu-level-2 {
		display: block;
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s;
	}
	.nav-submenu-level-2.show {
		max-height: 1000px;
	}
}
.nav-submenu-level-2 > ul {
	width: 760px;
	border: 1px solid #BBBBBB;
	padding: 10px 0;
	border-top: none;
	background: #ffffff;
}
@media (max-width: 991px) {
	.nav-submenu-level-2 > ul {
		width: 600px;
	}
}
@media (max-width: 767px) {
	.nav-submenu-level-2 > ul {
		width: auto;
		border: none;
		padding: 0;
	}
}
.nav-submenu-level-2 > ul > li {
	list-style-type: none;
}
@media (max-width: 767px) {
	.nav-submenu-level-2 > ul > li {
		text-align: center;
	}
}
.nav-submenu-level-2 > ul > li > a {
	display: block;
	padding: 10px 30px;
	color: #545256;
	font-size: 14px;
	line-height: 1.2em;
}
@media (max-width: 767px) {
	.nav-submenu-level-2 > ul > li > a {
		display: inline-block;
		padding: 10px 0;
		color: #545256;
		font-size: 12px;
		line-height: 1.2em;
		font-style: italic;
		transition: all 0.3s;
	}	
}
.nav-submenu-level-2 > ul > li > a:hover,
.nav-submenu-level-2 > ul > li > a:focus,
.nav-submenu-level-2 > ul > li > a.active {
	background-color: #F7F7F7;
	color: #00A0E3;
}
@media (max-width: 767px) {
	.nav-submenu-level-2 > ul > li > a:hover,
	.nav-submenu-level-2 > ul > li > a:focus,
	.nav-submenu-level-2 > ul > li > a.active {
		background-color: transparent;
	}	
}
.header__contacts {
	margin-left: 30px;
	margin-right: 13px;
	position: relative;
	height: 71px;
}
@media (max-width: 1400px) {
	.header__contacts {
		margin-left: 10px;
	}	
}
@media (max-width: 767px) {
	.header__contacts {
		display: none;
	}		
}
.header__contacts-inner {
	padding: 15px 20px;
	height: 71px;
	background-color: #ffffff;
	position: relative;
	z-index: 1;
	transition: all 0.1s;
}
.header__contacts:hover .header__contacts-inner {
	box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.2);
	border-bottom: 3px solid #00A0E3;
	height: auto;
}
.header__contact {
	margin-bottom: 6px;
}
.header__contact:last-child {
	margin-bottom: 0;
}
.header__contact--phone {
	font-weight: bold;
}
.header__contact--hidden {
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.2s;
}
.header__contacts:hover .header__contact--hidden {
	height: auto;
	opacity: 1;
}
.header__contact:last-child {
	margin-right: 0;
}
.header__contact a {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.header__contact a:hover,
.header__contact a:focus {
	text-decoration: underline;
}
.header__contact:first-child a:after {
	margin-left: 10px;
	content: '';
	width: 6px;
	height: 4px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(img/arrow-down.svg);
	background-size: contain;
	transition: all 0.2s;
}
.header__contacts:hover .header__contact:first-child a:after {
	background-image: url(img/arrow-up.svg);
}
.header__contact img {
	margin-right: 12px;
	height: 12px;
	width: 16px;
}
@media (max-width: 1400px) {
	.header__btn {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 320px) {
	.header__btn {
		display: none;
	}
}
.breadcrumbs {
	padding-top: 25px;
	padding-bottom: 25px;
}
.breadcrumbs ul {
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.breadcrumbs ul li {
	margin-right: 11px;
	list-style-type: none;
	font-size: 14px;
	line-height: 1.2em;
	color: #949098;
	font-weight: 300;
}
.breadcrumbs__divider {
	width: 5px;
	height: 5px;
	background-color: #CCCCCC;
	border-radius: 50%;
}
.breadcrumbs a {
	color: #949098;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}
.wrapper--home-top {
	padding-left: 0;
	padding-right: 0;
}
.home-top-item {
	min-height: 770px;
	padding: 75px;
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: cover;
	color: #ffffff;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}
@media (max-width: 991px) {
	.home-top-item {
		min-height: 0;
	}
}
@media (max-width: 420px) {
	.home-top-item {
		padding: 75px 15px;
	}
}
.home-top-item:hover,
.home-top-item:focus {
	color: #ffffff;
}
.home-top-item:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #00A0E3;
	opacity: 0;
	transition: all 0.3s;
}
.home-top-item:hover:before,
.home-top-item:focus:before {
	opacity: 1;
}
.home-top-item__top {
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: flex-end;
	position: relative;
}
.home-top-item__number {
	margin-right: 20px;
	font-size: 27px;
	line-height: 1em;
	font-weight: bold;
}
.home-top-item__smalltext {
	font-size: 11px;
	line-height: 1.2em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.home-top-item__title {
	flex: 0 0 100%;
	max-width: 100%;
	font-size: 39px;
	line-height: 0.8em;
	font-weight: 900;
	position: relative;
}
@media (max-width: 1400px) {
	.home-top-item__title {
		font-size: 24px;
		line-height: 0.8em;
	}	
}
@media (max-width: 991px) {
	.home-top-item__title {
		margin-top: 50px;
		margin-bottom: 50px;
	}	
}
@media (max-width: 420px) {
	.home-top-item__title {
		margin-top: 12px;
		margin-bottom: 15px;
	}	
}
@media (max-width: 320px) {
	.home-top-item__title {
		font-size: 18px;
		line-height: 0.8em;
	}	
}
.home-top-item__title:before {
	content: '';
	position: absolute;
	top: 0;
	left: -35px;
	width: 5px;
	height: 66px;
	background-color: #00A0E3;
}
@media (max-width: 1400px) {
	.home-top-item__title:before {
		height: 43px;
	}
}
@media (max-width: 991px) {
	.home-top-item__title:before {
		height: 21px;
	}
}
@media (max-width: 420px) {
	.home-top-item__title:before {
		display: none;
	}	
}
.home-top-item__plus {
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;
	opacity: 0;
}
.home-top-item:hover .home-top-item__plus,
.home-top-item:focus .home-top-item__plus {
	opacity: 1;
}
.wrapper--goods {
	padding-top: 70px;
	padding-bottom: 80px;
}
.goods--inner-page {
	padding-top: 0;
	padding-bottom: 40px;
}
.goods__title {
	color: #292D40;
	font-size: 46px;
	line-height: 1.2em;
	font-weight: 900;
	text-align: center;
}
@media (max-width: 320px) {
	.goods__title {
		font-size: 18px;
		line-height: 1.2em;
	}	
}
.goods__text,
.clients__text {
	margin-top: 20px;
	font-size: 14px;
	line-height: 1.5em;
	text-align: center;
}
.goods__divider,
.clients__divider {
	margin: 30px auto 0;
	width: 70px;
	height: 5px;
	background-color: #00A0E3;
}
.goods__list {
	margin-top: 50px;
	margin-left: -5px;
	margin-right: -5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
.goods-item {
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	flex: 0 0 25%;
	max-width: 25%;
}
@media (max-width: 1199px) {
	.goods-item {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
}
@media (max-width: 991px) {
	.goods-item {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.goods-item__inner {
	display: block;
	min-height: 420px;
	background-color: #223955;
	position: relative;
	padding: 50px 40px;
	transition: all 0.3s;
}
@media (max-width: 320px) {
	.goods-item__inner {
		padding: 30px 15px;
	}
}
.goods--inner-page .goods-item__inner {
	background-color: #2E2E2E;
}
.goods-item__inner:hover,
.goods-item__inner:focus {
	background-color: #00A0E3;
}
.goods-item__mask {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.5;
	background-position: 0 100%;
	background-repeat: no-repeat;
}
.goods-item__inner:hover .goods-item__mask,
.goods-item__inner:focus .goods-item__mask {
	opacity: 1;
}
.goods-item--1 .goods-item__mask,
.goods-item--2 .goods-item__mask,
.goods-item--6 .goods-item__mask,
.goods-item--8 .goods-item__mask {
	background-position: 0 90%;
}
.goods-item__title {
	font-size: 18px;
	line-height: 1.2em;
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
}
@media (max-width: 320px) {
	.goods-item__title {
		font-size: 16px;
		line-height: 1.2em;
	}
}
.goods-item__title:before {
	content: '';
	position: absolute;
	top: -1px;
	left: -19px;
	width: 5px;
	height: 43px;
	background-color: #00A0E3;
}
@media (max-width: 320px) {
	.goods-item__title:before {
		display: none;
	}
}
.goods--inner-page .goods-item__title:before {
	display: none;
}
.goods-item__inner:hover .goods-item__title:before,
.goods-item__inner:focus .goods-item__title:before {
	background-color: #ffffff;
}
.wrapper--home-content {
	padding-top: 80px;
	padding-bottom: 80px;
	height: auto;
	background-color: #E3EDF9;
	position: relative;
	transition: all 0.3s linear;
}
.home-content--short {
	max-height: 420px;
}
.home-content--full {
	max-height: 9999px;
}
.wrapper--home-content:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 140px;
	background: linear-gradient(to bottom, rgba(227, 237, 249, 0), rgba(227, 237, 249, 1));
}
.home-content--full:after {
	display: none;
} 
.home-content__title {
	padding: 0 15px;
	font-size: 36px;
	line-height: 1.2em;
	font-weight: 900;
	color: #2E2A32;
	position: relative;
}
@media (max-width: 480px) {
	.home-content__title {
		padding: 0;
		font-size: 24px;
		line-height: 1.2em;
	}
}
@media (max-width: 320px) {
	.home-content__title {
		padding: 0;
		font-size: 18px;
		line-height: 1.2em;
	}
}
.home-content__title:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 42px;
	background-color: #00A0E3;
}
@media (max-width: 480px) {
	.home-content__title:before {
		display: none;
	}
}
.home-content__text {
	margin-top: 20px;
	padding: 0 15px;
}
@media (max-width: 480px) {
	.home-content__text {
		padding: 0;
	}
}
.home-content__readmore-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 1;
}
.home-content__readmore {
	padding: 7px 22px;
	vertical-align: top;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-size: 13px;
	line-height: 1.2em;
	color: #ffffff;
	background-color: #00A0E3;
	border-radius: 6px 6px 0px 0px;
	cursor: pointer;
	transition: all 0.3s;
}
.home-content__readmore:hover,
.home-content__readmore:focus {
	background-color: #223955;
}
.home-content__readmore img {
	margin-left: 10px;
	width: 8px;
	height: 5px;
}
.wrapper--clients {
	padding-top: 100px;
	padding-bottom: 160px;
}
@media (max-width: 480px) {
	.wrapper--clients {
		padding-bottom: 80px;
	}	
}
.wrapper--clients.clients--inner-page {
	padding-top: 0;
	overflow: visible;
}
.clients__title {
	font-size: 36px;
	line-height: 1.2em;
	font-weight: 900;
	color: #2E2A32;
	text-align: center;
}
@media (max-width: 480px) {
	.clients__title {
		font-size: 24px;
		line-height: 1.2em;
	}
}
@media (max-width: 320px) {
	.clients__title {
		font-size: 18px;
		line-height: 1.2em;
	}
}
.clients-slider {
	margin-top: 90px;
	position: relative;
}
@media (max-width: 480px) {
	.clients-slider {
		margin-top: 40px;
	}	
}
.clients--inner-page .clients-slider {
	margin-top: 0;
	padding-top: 95px;
}
.clients-slider__slick-prev,
.clients-slider__slick-next,
.stages-slider__slick-prev,
.stages-slider__slick-next {
	position: absolute;
	top: calc(50% - 27px);
	z-index: 1;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	cursor: pointer;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.136606);
	transition: all 0.3s;
}
@media (max-width: 480px) {
	.clients-slider__slick-prev,
	.clients-slider__slick-next,
	.stages-slider__slick-prev,
	.stages-slider__slick-next {
		top: calc(50% - 10px);
		width: 20px;
		height: 20px;
		background-color: transparent;
		box-shadow: none;
	}	
}
.clients--inner-page .clients-slider__slick-prev,
.clients--inner-page .clients-slider__slick-next {
	top: 0;
}
.clients-slider__slick-prev,
.stages-slider__slick-prev {
	left: 0;
	background-position: 45% 50%;
	background-image: url(img/arrow-left--grey.svg);
}
.clients--inner-page .clients-slider__slick-prev {
	left: auto;
	right: 64px;
	background-image: url(img/arrow-left--blue.svg);
}
.clients--inner-page .clients-slider__slick-prev--green {
	background-image: url(img/arrow-left--green.svg);
}
.clients-slider__slick-prev:hover,
.clients-slider__slick-prev:focus,
.stages-slider__slick-prev:hover,
.stages-slider__slick-prev:focus {
	background-image: url(img/arrow-left--blue.svg);
}
.clients--inner-page .clients-slider__slick-prev:hover,
.clients--inner-page .clients-slider__slick-prev:focus {
	background-image: url(img/arrow-left--grey.svg);
}
.clients-slider__slick-next,
.stages-slider__slick-next {
	right: 0;
	background-position: 55% 50%;
	background-image: url(img/arrow-right--grey.svg);
}
.clients--inner-page .clients-slider__slick-next {
	background-image: url(img/arrow-right--blue.svg);
}
.clients--inner-page .clients-slider__slick-next--green {
	background-image: url(img/arrow-right--green.svg);
}
.clients-slider__slick-next:hover,
.clients-slider__slick-next:focus,
.stages-slider__slick-next:hover,
.stages-slider__slick-next:focus {
	background-image: url(img/arrow-right--blue.svg);
}
.clients--inner-page .clients-slider__slick-next:hover,
.clients--inner-page .clients-slider__slick-next:focus {
	background-image: url(img/arrow-right--grey.svg);
}
.clients-slider__inner,
.stages-slider__inner {
	margin-left: 85px;
	margin-right: 85px;
}
@media (max-width: 480px) {
	.clients-slider__inner,
	.stages-slider__inner {
		margin-left: 25px;
		margin-right: 25px;
	}	
}
.clients--inner-page .clients-slider__inner {
	margin-left: 0;
	margin-right: 0;
}
.clients-slider-slide {	
	height: 100%;
	text-align: center;
	opacity: 0.5;
	transition: all 0.3s;
}
.clients-slider-slide:hover,
.clients-slider-slide:focus {
	opacity: 1;
}
.clients-slider-slide__inner {
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.clients--inner-page .clients-slider-slide__inner {
	margin-left: 3px;
	margin-right: 3px;
	border: 1px solid #EBEBEB;
	border-radius: 2px;
}
.clients-slider-slide img {	
	display: inline-block;
	vertical-align: top;
}
.clients-slider__nav {
	margin-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -80px;
	text-align: center;
}
.clients-slider__nav li {
	margin-left: 8px;
	margin-right: 8px;	
	list-style-type: none;
	vertical-align: top;
	width: 18px;
	height: 18px;
	border: 2px solid transparent;
	border-radius: 50%;
	cursor: pointer;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.clients--inner-page .clients-slider__nav li {
	width: 23px;
	height: 23px;
	border: none;
}
.clients-slider__nav li.slick-active {
	border: 2px solid #00A0E4;
}
.clients--inner-page .clients-slider__nav li.slick-active {
	border: none;
	background-color: #00A0E3;
}
.clients-slider__nav li button {
	width: 8px;
	height: 8px;
	background-color: #979797;
	border: none;
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
}
.clients--inner-page .clients-slider__nav li button {
	width: 11px;
	height: 11px;
	background-color: #D8D8D8;
}
.clients-slider__nav li.slick-active button {
	background-color: #ffffff;
}
.stages__title {
	text-align: center;
}
.stages__text {
	margin-top: 15px;
	font-size: 17px;
	line-height: 1.2em;
	font-weight: 300;
	text-align: center;
	color: #3E3E3E;
}
.stages-slider {
	margin-top: 70px;
	position: relative;
}
@media (max-width: 480px) {
	.stages-slider {
		margin-top: 40px;
	}	
}
.stages-slider-slide__inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	border-bottom: 1px solid rgba(191, 191, 191, 0.36);
	position: relative;
}
@media (max-width: 767px) {
	.stages-slider-slide__inner {
		border-bottom: none;
	}
}
.stages-slider-slide__inner:before {
	content: '';
	position: absolute;
	height: 45px;
	width: calc(33.333% - 75px);
	left: 0;
	bottom: -1px;
	background-color: #ffffff;
	border-right: 1px solid rgba(191, 191, 191, 0.36);
	border-bottom: 1px solid rgba(191, 191, 191, 0.36);
}
@media (max-width: 767px) {
	.stages-slider-slide__inner:before {
		display: none;
	}
}
.stages-slider-slide:first-child .stages-slider-slide__inner:before {
	border-bottom: none;
}
.stages-slider-slide__part--1 {
	flex: 0 0 30%;
	max-width: 30%;
	padding-bottom: 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}
@media (max-width: 767px) {
	.stages-slider-slide__part--1 {
		flex: 0 0 100%;
		max-width: 100%;
		padding-bottom: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}
.stages-slider-slide__number {
	padding-right: 20px;
	font-size: 16px;
	line-height: 1.2em;
	font-weight: bold;
	color: #00A0E3;
}
@media (max-width: 991px) {
	.stages-slider-slide__number {
		padding-right: 15px;
	}
}
@media (max-width: 767px) {
	.stages-slider-slide__number {
		padding-right: 0;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
	}	
}
.stages-slider-slide__img {
	width: 107px;
	height: 107px;
	border: 1px solid #EBEBEB;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
@media (max-width: 767px) {
	.stages-slider-slide__img {
		margin-top: 15px;
	}	
}
.stages-slider-slide__img img {
	width: 42px;
}
.stages-slider-slide__part--2 {
	flex: 0 0 70%;
	max-width: 70%;
	padding: 30px 40px;
}
@media (max-width: 991px) {
	.stages-slider-slide__part--2 {
		padding: 15px;
	}
}
@media (max-width: 767px) {
	.stages-slider-slide__part--2 {
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
		padding-bottom: 0;
	}
}
.stages-slider-slide__title {
	font-size: 16px;
	line-height: 1.2em;
	font-weight: bold;
	color: #00A0E3;
	text-transform: uppercase;
}
.stages-slider-slide__text {
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.6em;
	color: #2E2A32;
}
@media (max-width: 767px) {
	.stages-slider-slide__text {
		margin-top: 10px;
		font-size: 14px;
		line-height: 1.2em;
	}	
}
.wrapper--top {
	padding-bottom: 40px;
	background-color: #E3EDF9;
}
.top-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.top-content__part {
	margin-top: 40px;
}
.top-content__title {
	padding-left: 15px;
	position: relative;
}
.top-content__title:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 5px;
	height: 31px;
	background-color: #00A0E3;
}
.top-content__title--green:before {
	background-color: #1CAF5E;
}
.top-content__text {
	margin-top: 20px;
	padding-left: 15px;
	font-size: 15px;
	line-height: 1.4em;
}
.top-content__list ul {
	margin-bottom: 0;
}
.top-content__list ul li {
	margin-bottom: 15px;
	font-size: 17px;
	line-height: 1.2em;
	color: #00A0E3;
}
.top-content__list ul li:last-child {
	margin-bottom: 0;
}
.top-content__list ul li a {
	color: #000000;
	text-decoration: underline;
}
.top-content__list ul li a:hover,
.top-content__list ul li a:focus {
	color: #00A0E3;
}
.wrapper--page-content {
	padding-bottom: 85px;
}
.page-content--with-slider h2 {
	margin-top: 40px;
}
.row--page-content {
	margin-right: -25px;
    margin-left: -25px;
}
.col--page-content {
	padding-right: 25px;
    padding-left: 25px;
}
.page-content__block {
	margin-top: 40px;
}
.page-content__block--2-cols {
	column-count: 2;
	column-gap: 40px;
}
@media (max-width: 1199px) {
	.page-content__block--2-cols {
		column-count: 1;
	}	
}
.page-content__block--no-margin {
	margin: 0;
}
.page-content__block--collapsed {
	margin-top: 70px;
	padding-right: 100px;
	position: relative;
	max-height: 200px;
	overflow: hidden;
	z-index: 1;
	transition: all 0.3s;
}
@media (max-width: 480px) {
	.page-content__block--collapsed {
		padding-right: 40px;
	}
}
.page-content__block--collapsed.full {
	max-height: 9999px;
}
.page-content__block--collapsed:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
.page-content__block-readmore {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
    background-color: #ffffff;
    background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(img/plus--blue.svg);
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
    transition: all 0.3s;	
}
@media (max-width: 480px) {
	.page-content__block-readmore {
		width: 30px;
		height: 30px;
		background-size: 40%;
	}
}
.full .page-content__block-readmore {
	transform: rotate(45deg);
}
.page-content__quote-wrapper {
	text-align: center;
}
.page-content__quote {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	vertical-align: top;
	padding-left: 30px;
	color: #2E2A32;
	font-size: 14px;
	line-height: 1.8em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	position: relative;
}
@media (max-width: 767px) {
	.page-content__quote {
		padding-left: 19px;
	}
}
.page-content__quote:before {
	content: '';
	position: absolute;
	width: 4px;
	left: 0;
	top: 8px;
	bottom: 6px;
	background-color: #00A0E3;
}
.page-content__list {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 870px;
}
.page-content__list ul {
	margin-bottom: 0;
	counter-reset: section;
}
.page-content__list ul li {
	margin-bottom: 40px;
	padding-left: 70px;
	list-style-type: none;
	position: relative;
	font-weight: 300;
}
@media (max-width: 767px) {
	.page-content__list ul li {
		padding-left: 50px;
	}
}
.page-content__list ul li:last-child {
	margin-bottom: 0;
}
.page-content__list ul li:before {
	counter-increment: section;
	content: counters(section, ".") ".";
	position: absolute;
	left: 0;
	top: -8px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #00A0E3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: #ffffff;
	font-size: 16px;
	line-height: 1em;
	font-weight: bold;
}
.page-content-slider {
	position: relative;
}
.page-content-slider__slick-prev,
.page-content-slider__slick-next {
	position: absolute;
	bottom: 24px;
	z-index: 1;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.3s;
}
@media (max-width: 480px) {
	.page-content-slider__slick-prev,
	.page-content-slider__slick-next {
		bottom: 15px;
		width: 20px;
		height: 20px;
		background-size: 40%;
	}	
}
.page-content-slider__slick-prev {
	right: 92px;
	background-position: 45% 50%;
	background-image: url(img/arrow-left--blue.svg);
}
@media (max-width: 480px) {
	.page-content-slider__slick-prev {
		left: 15px;
	}
}
.page-content-slider__slick-prev:hover,
.page-content-slider__slick-prev:focus {
	background-image: url(img/arrow-left--white.svg);
	background-color: #00A0E3;
}
.page-content-slider__slick-next {
	right: 28px;
	background-position: 55% 50%;
	background-image: url(img/arrow-right--blue.svg);
}
@media (max-width: 480px) {
	.page-content-slider__slick-next {
		right: 15px;
	}
}
.page-content-slider__slick-next:hover,
.page-content-slider__slick-next:focus {
	background-image: url(img/arrow-right--white.svg);
	background-color: #00A0E3;
}
.page-content-slider-slide {
	min-height: 413px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.contacts-content {
	padding-top: 65px;
	padding-bottom: 65px;
	border-top: 1px solid #D3D1D1;
}
.contacts-content__inner {
	margin: 0 auto;
	width: 100%;
	max-width: 1065px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.contacts-content__inner--wide {
	max-width: 100%;
}
.contacts-content__part--1 {
	flex: 0 0 40%;
	max-width: 40%;
}
@media (max-width: 1199px) {
	.contacts-content__part--1 {
		flex: 0 0 100%;
		max-width: 100%;
	}	
}
.contacts-content__title {
    font-size: 36px;
	padding-left: 25px;
    line-height: 1.2em;
    font-weight: 900;
    color: #2E2A32;
	position: relative;
}
@media (max-width: 1199px) {
	.contacts-content__title {
		padding-left: 0;
	}
}
@media (max-width: 480px) {
	.contacts-content__title {
		font-size: 24px;
		line-height: 1.2em;
	}
}
@media (max-width: 320px) {
	.contacts-content__title {
		font-size: 18px;
		line-height: 1.2em;
	}
}
.contacts-content__title:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 42px;
	background-color: #00A0E3;
}
@media (max-width: 1199px) {
	.contacts-content__title:before {
		display: none;
	}
}
.contacts-content__part--2 {
	flex: 0 0 60%;
	max-width: 60%;
}
@media (max-width: 1199px) {
	.contacts-content__part--2 {
		margin-top: 40px;
		flex: 0 0 100%;
		max-width: 100%;
	}	
}
.contacts-content__text {
	font-size: 15px;
	line-height: 1.2em;
}
.contacts-content__text a {
	color: #00A0E4;
	text-decoration: underline;
}
.contacts-content__text a:hover,
.contacts-content__text a:focus {
	text-decoration: none;
}
.contacts-content__phone {
	padding: 15px 0;
    font-size: 40px;
    line-height: 1.2em;
    font-weight: bold;
    color: #2E2A32;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	transition: all 0.3s;
}
@media (max-width: 480px) {
	.contacts-content__phone {
		font-size: 24px;
		line-height: 1.2em;
	}
}
@media (max-width: 320px) {
	.contacts-content__phone {
		font-size: 18px;
		line-height: 1.2em;
	}
}
.contacts-content__phone:hover,
.contacts-content__phone:focus {
	color: #2E2A32;
	opacity: 0.8;
}
.contacts-content__phone img {
	margin-right: 30px;
	width: 29px;
	height: 29px;
}
@media (max-width: 480px) {
	.contacts-content__phone img {
		margin-right: 15px;
		width: 18px;
		height: 18px;
	}
}
@media (max-width: 480px) {
	.contacts-content__phone img {
		display: none;
	}
}
.wrapper--footer-top-home {
	padding-bottom: 65px;
}
.footer-top-home__divider,
.footer-top__divider {
	border-top: 1px solid #D3D1D1;
}
.footer-top-home__logo,
.footer-top__logo {
	margin-top: 65px;
}
.footer-top-home__logo img {
	width: 78px;
	height: auto;
}
.footer-top-home__menus {
	padding: 0 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
@media (max-width: 991px) {
	.footer-top-home__menus {
		padding: 0;
	}
}
.footer-top-home__menu {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	margin-top: 65px;
	padding: 0 30px;
}
@media (max-width: 991px) {
	.footer-top-home__menu:first-child {
		padding-left: 0;
	}
}
@media (max-width: 767px) {
	.footer-top-home__menu {
		padding: 0;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.footer-top-home__menu ul {
	margin-bottom: 0;
	list-style-type: none;
}
.footer-top-home__menu ul li {
	margin-bottom: 17px;
	font-size: 15px;
	line-height: 1.2em;
}
.footer-top-home__menu ul li:last-child {
	margin-bottom: 0;
}
.footer-top-home__menu ul li a {
	color: #2E2A32;
}
.footer-top-home__menu ul li a:hover,
.footer-top-home__menu ul li a:focus {
	text-decoration: underline;
}
.footer-top-home__menu ul li ul {
	margin-top: 17px;
}
.footer-top-home__menu ul li ul li {
	font-size: 14px;
	line-height: 1.2em;
}
.footer-top-home__menu ul li ul li a {
	color: #87838B;
}
.footer-top-home__contacts {
	margin-top: 65px;
}
.footer-top-home-contacts__address {
	padding-left: 40px;
	position: relative;
}
.footer-top-home-contacts__address:before {
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	width: 10px;
	height: 13px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	background-image: url(img/pin--grey.svg);
}
.footer-top-home-contacts__phones {
	margin-top: 15px;
	padding-left: 40px;
	font-weight: 500;
	position: relative;
}
.footer-top-home-contacts__phones:before {
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	width: 11px;
	height: 11px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	background-image: url(img/phone--grey.svg);
}
.footer-top-home-contacts__phones a:hover,
.footer-top-home-contacts__phones a:focus {
	text-decoration: underline;
}
.footer-top-home-contacts__email {
	margin-top: 15px;
	padding-left: 40px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.footer-top-home-contacts__email:hover,
.footer-top-home-contacts__email:focus {
	text-decoration: underline;
}
.footer-top-home-contacts__email:before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 13px;
	height: 9px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	background-image: url(img/email--grey.svg);
}
.wrapper--footer-top {
	padding-bottom: 15px;
}
.footer-top-logo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
@media (max-width: 991px) {
	.footer-top-logo {
		margin-left: auto;
		margin-right: auto;
		max-width: 180px;
	}
}
.footer-top-logo__part--1 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}
@media (max-width: 320px) {
	.footer-top-logo__part--1 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.footer-top-logo__img {
	width: 67px;
}
@media (max-width: 1500px) {
	.footer-top-logo__img {
		width: 50px;
	}	
}
@media (max-width: 320px) {
	.footer-top-logo__img {
		margin: 0 auto;
	}		
}
.footer-top-logo__part--2 {
	flex: 0 0 66.66666%;
	max-width: 66.66666%;
	padding-left: 10px;
}
@media (max-width: 320px) {
	.footer-top-logo__part--2 {
		margin-top: 10px;
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
		text-align: center;
	}
}
.footer-top-logo__title {
	font-family: 'Bank Sans EF CY Condensed';
	font-size: 20px;
	line-height: 1.1em;
	text-transform: uppercase;
	color: #2E2B32;
}
@media (max-width: 1500px) {
	.footer-top-logo__title {
		font-size: 16px;
		line-height: 1.1em;
	}
}
.footer-top-logo__text {
	font-size: 12px;
	line-height: 1.2em;
	letter-spacing: 0.24px;
	color: #00A0E3;
}
.footer-top__menu {
	margin-top: 65px;
	padding-left: 25px;
}
@media (max-width: 1500px) {
	.footer-top__menu {
		padding-left: 0;
	}
}
.footer-top__menu ul {
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
@media (max-width: 1500px) {
	.footer-top__menu ul {
		justify-content: center;
	}
}
.footer-top__menu ul li {
	list-style-type: none;
	margin: 0 25px;
}
@media (max-width: 1500px) {
	.footer-top__menu ul li {
		margin: 0 15px;
	}	
}
@media (max-width: 320px) {
	.footer-top__menu ul li {
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
	}		
}
.footer-top__menu ul li a {
	display: inline-block;
	vertical-align: top;
	padding: 5px 0;
	font-size: 17px;
	line-height: 1.2em;
	color: #959199;
}
@media (max-width: 1500px) {
	.footer-top__menu ul li a {
		font-size: 14px;
		line-height: 1.2em;
	}
}
.footer-top__menu ul li a:hover,
.footer-top__menu ul li a:focus {
	text-decoration: underline;
}
.footer-top__socials {
	margin-top: 65px;
	text-align: right;
}
@media (max-width: 1199px) {
	.footer-top__socials {
		text-align: center;
	}
}
.footer-top__socials a {
	margin-right: 20px;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	border: 1px solid #C1BFBF;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.footer-top__socials a:last-child {
	margin-right: 0;
}
.wrapper--footer {
	padding-bottom: 15px;
	color: #D3CFD6;
}
.footer--home {
	border-top: 1px solid #D3D1D1;
}
.footer__copyright {
	margin-top: 15px;
}
@media (max-width: 767px) {
	.footer__copyright {
		text-align: center;
	}
}
.footer__socials {
	margin-top: 15px;
	text-align: center;
}
.footer__socials a {
	margin: 0 14px;
}
.footer__dev {
	margin-top: 15px;
	text-align: right;
}
@media (max-width: 767px) {
	.footer__dev {
		text-align: center;
	}
}
.footer__dev a {
	color: #959199;
}
.footer__dev a:hover,
.footer__dev a:focus {
	text-decoration: underline;
}